.chartCard {
  position: relative;
  background: linear-gradient(0deg, #18191c, #18191c 48%, #202226);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
  padding: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 420px;
}

@media (max-width: 1023.98px) {
  .chartCard {
    min-height: 200px;
    padding: 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .chartCard {
    min-height: 320px;
    padding: 15px;
  }
}
